.portfolio {
  display: flex;
  position: relative;
  flex-direction: column;

  &__top {
    text-align: center;
  }

  &__bottom {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 3.125rem;
    margin: 50px 0;
    @media screen and (max-width: 75rem) {
      grid-gap: 2rem;
    }
  }
}
