.button {
  margin-left: 30px;
  padding: 15px 35px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: var(--color-primary);
  background-color: var(--gradient-box);
  box-shadow: var(--shadow1);
  text-transform: uppercase;
  cursor: pointer;

  @media screen and (max-width: 100rem) {
    padding: 17px 19px;
    transition: 0.3s ease padding;
  }
  &--circular {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-bg);
    padding: 10px;
  }
  &--transform {
    &:hover {
      transform: translateY(-5px);
      background-color: var(--color-dark);
      transition: 0.3s ease transform;
    }
  }
}
