.list {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  &__head {
    display: flex;
    flex-direction: column;
  }
  &__box {
    margin-top: 50px;
    padding-left: 34px;
    border-left: 5px solid #17191c;
    .list-box:nth-child(1) {
      margin-top: 0;
    }
  }
  &__title {
    color: var(--color-textLight);
    font-weight: 600;
    line-height: 62px;
  }
  &__subtitle {
    color: var(--color-primary);
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 10px;
  }
}
