.hamburger {
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 60px;
  @media screen and (max-width: 75rem) {
    display: flex;
  }

  &__lines {
    height: 26px;
    width: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  &__checkbox {
    position: absolute;
    height: 32px;
    width: 32px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
    &:checked {
      ~ .hamburger__lines {
        .hamburger__line {
          &--1 {
            transform: rotate(45deg);
          }
          &--2 {
            transform: scaleY(0);
          }
          &--3 {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
  &__line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--color-primary);
    &--1 {
      transform-origin: 0% 0%;
      transition: transform 0.4s ease-in-out;
    }
    &--2 {
      transition: transform 0.2s ease-in-out;
    }
    &--3 {
      transform-origin: 0% 100%;
      transition: transform 0.4s ease-in-out;
    }
  }
}
