.social {
  &__list {
    display: flex;
  }
  &__item {
    list-style: none;
    margin: 0 15px 15px 0;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 6px;
    transition: 0.2s;
    background-image: var(--gradient-box);
    position: relative;
    box-shadow: var(--shadow1);
    z-index: 1;
    &:hover {
      transform: translateY(-3px);
      background-image: var(--gradient-box-hover);
      opacity: 1;
      box-shadow: none;
      transition: 0.4s ease transform;
      .hover-none & {
        transform: translateY(0);
        background-image: var(--gradient-box);
        box-shadow: var(--shadow1);
        cursor: auto;
      }
    }
    .shadow-none & {
      box-shadow: none;
    }
    img {
      transition: 0.2s;
      max-height: 23px;
      color: var(--color-textLight);
    }
  }
  &__content {
    font-size: 14px;
    margin: 20px 0;
    color: var(--color-textLight);
    letter-spacing: 2px;
    font-weight: 300;
    padding-right: 7%;
    text-transform: uppercase;
  }
}

.shadow-none {
}
.hover-none {
}
