.tab {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  margin-top: 45px;
  &--column {
    flex-direction: row;
    @media screen and (max-width: 62rem) {
      flex-direction: column;
    }
  }
  &__content {
    margin-top: 32px;
    .tab--column & {
      flex: 2;
      margin: 0;
      @media screen and (max-width: 62rem) {
        margin-top: 32px;
      }
    }
  }
  &__list {
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
    align-items: center;
    background-image: var(--gradient-box);
    box-shadow: var(--shadow1);
    border-radius: 10px;
    @media screen and (max-width: 48rem) {
      flex-direction: column;
    }
    .tab--column & {
      flex: 1;
      flex-direction: column;
      margin-right: 50px;
      @media screen and (max-width: 62rem) {
        margin: 0;
      }
    }
  }
  &__item {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: var(--color-textLight);
    padding: 30px 10px;
    text-transform: capitalize;
    font-size: 18px;
    font-size: 18px;
    font-weight: 500;
    outline: none;
    border: 0 none;
    transition: all 0.5s;
    background: transparent;
    border-radius: 10px;
    text-size-adjust: 100%;
    .tab--column & {
      @media screen and (max-width: 62rem) {
        font-size: 18px;
      }
    }
    &--active {
      color: var(--color-primary);
      background-image: var(--gradient-box);
      box-shadow: var(--shadow1);
    }
    &:hover {
      color: var(--color-primary);
      background-image: var(--gradient-box);
      box-shadow: var(--shadow1);
    }
    @media screen and (max-width: 62rem) {
      font-size: 14px;
      padding: 25px 7px;
    }
    @media screen and (max-width: 48rem) {
      font-size: 18px;
      padding: 18px 6px;
    }
  }
  &--sticky {
    position: sticky;
    top: 120px;
    @media screen and (max-width: 75rem) {
      position: unset;
    }
  }
}
