@import '../settings/fonts';
@import './breakpoints';
@import './variables';
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: $montserrat-sans;
  background-color: var(--color-bg);
  color: white;
  @include scrollbars(0.5em, var(--color-text), var(--color-bg));
}

.container {
  margin: 0 3.315rem;
  transition: 0.3s ease margin;
  @include breakpoint(laptop) {
    margin: 4rem;
  }
  @include breakpoint(tablet) {
    margin: 4rem;
  }
  @include breakpoint(phablet) {
    margin: 4rem 2rem;
  }
  @include breakpoint(mobileonly) {
    margin: 4rem 2rem;
  }
}
h1 {
  font-size: 60px;
  @include breakpoint(tablet) {
    font-size: 50px;
  }
  @include breakpoint(phablet) {
    font-size: 50px;
  }

  @include breakpoint(mobileonly) {
    font-size: 32px;
  }
}
.section {
  padding: 4rem 6.25rem;
  max-width: 1320px;
  margin: 0 auto !important;
  width: 100%;
  transition: 0.3s ease padding;
  &::after {
    position: absolute;
    max-width: 1270px;
    height: 1px;
    background: #121415;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  @include breakpoint(laptop) {
    padding: 2rem 4.25rem;
    max-width: 1140px;
  }
  @include breakpoint(laptop) {
    padding: 2rem 2.25rem;
    max-width: 1140px;
  }
  @include breakpoint(tablet) {
    padding: 2rem 2.25rem;
    max-width: 960px;
  }
  @include breakpoint(phablet) {
    max-width: 620px;
    padding: 2rem 1.25rem;
  }
  @include breakpoint(mobileonly) {
    max-width: 500px;
    padding: 0.75rem;
  }
}
