@import '../settings/fonts';
@import './breakpoints';
@import './variables';
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: $montserrat-sans;
  background-color: var(--color-bg);
  color: white;
  @include scrollbars(0.5em, var(--color-textDark), var(--color-textlight));
}

h1 {
  font-size: 60px;
  @include breakpoint(laptop) {
    font-size: 50px;
  }
  @include breakpoint(tablet) {
    font-size: 50px;
  }

  @include breakpoint(mobileonly) {
    font-size: 32px;
  }
}
h2 {
  font-size: 60px;
  @include breakpoint(tablet) {
    font-size: 38px;
  }
  @include breakpoint(phablet) {
    font-size: 40px;
  }

  @include breakpoint(mobileonly) {
    font-size: 34px;
  }
}
h3 {
  font-size: 34px;
  @include breakpoint(tablet) {
    font-size: 30px;
  }
  @include breakpoint(phablet) {
    font-size: 30px;
  }

  @include breakpoint(mobileonly) {
    font-size: 24px;
  }
}

h4 {
  font-size: 24px;
  @include breakpoint(mobileonly) {
    font-size: 21px;
  }
}
.section {
  padding: 4rem 6.25rem;
  max-width: 1320px;
  margin: 0 auto;
  width: 100%;
  transition: 0.3s ease padding;
  &::after {
    position: absolute;
    max-width: 1270px;
    height: 1px;
    background: #121415;
    content: '';
    inset: 0;
    margin: 0 auto;
  }
  @include breakpoint(laptop) {
    padding: 2rem 4.25rem 4rem;
    max-width: 1140px;
  }
  @include breakpoint(laptop) {
    padding: 2rem 1.25rem 4rem;
    max-width: 960px;
  }
  @include breakpoint(tablet) {
    max-width: 720px;
    padding: 2rem 1.25rem 4rem;
  }
  @include breakpoint(phablet) {
    max-width: 540px;
    padding: 1.25rem;
  }
  @include breakpoint(mobileonly) {
    max-width: 540px;
    padding: 1.25rem;
  }
}
